/* Add here all your CSS customizations */

body, p, strong, span {
    font-family: Arial, "Open Sans", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Narrow", Arial, "Open Sans", sans-serif !important;
}

.dropdown-item {
    border: 1px solid black;
}
.nav-pills li {
    margin-left: 10px !important;
}
.header-nav-main {
    align-items: flex-end !important;
    padding-top: 100px;
}

.nav-pills .btn-custom a:hover {
    background: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
}

#footer .footer-copyright {
    background: #00646b !important;
    border: none;
}
#footer .footer-copyright p {
    color: #FFFFFF !important;
    font-size: 14px;
}

.btn-custom {
    border: 1px solid #e2e2e2;
}
.btn-custom:hover {
    background: #9d9d9d !important;
}
.btn-custom-green:hover {
    background: #00646b !important;
}
.btn-custom-yellow:hover {
    background: #d2d500 !important;
}
.btn-custom-blue:hover {
    background: #052349 !important;
}
.btn-custom-red:hover {
    background: #b7222a !important;
}
